### IntelliJ IDEA ###
.idea/
*.iml

### Compiled Java files ###
out/
*.class

### Build folders ###
target/
build/

### Eclipse ###
.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db